body {
  font: Helvetica, sans-serif;
  color: black; }

.header {
  width: 100%;
  margin: 0; }
  .header div {
    border-radius: 5px;
    border-color: #222;
    display: grid;
    -webkit-column-gap: 10px;
    column-gap: 10px; }
